---
export interface Props {
  classes: string;
}

const { classes } = Astro.props;
---

<div
  class:list={["p-4 rounded-lg bg-white dark:bg-black inset-gradient", classes]}
>
  <slot />
</div>

<style>
  .inset-gradient {
    border: 1px solid #9c9c9c79;

    animation: scroll-watcher-island 1s linear;
    animation-timeline: scroll();
  }

  @keyframes scroll-watcher-island {
    to {
      transform: translateY(-10px);
    }
  }
</style>
