---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="p-4 m-4 rounded-lg bg-white dark:bg-black m-0 py-1 bg-white/50 dark:bg-black/50 px-0 backdrop-blur-sm border-b border-gray-200 dark:border-gray-800"
>
  <nav class="flex items-center justify-between">
    <h2><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
<style>
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
