---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";

const pathname = Astro.url.pathname;
const subpath = pathname.match(/[^\/]+/g);
const currentPath = subpath?.[0] || "";

// Define theme colors based on current path
let headerClass = "bg-white/70 dark:bg-gray-900/70";

if (currentPath === "blog") {
  headerClass = "bg-indigo-50/70 dark:bg-indigo-900/70";
} else if (currentPath === "experiments") {
  headerClass = "bg-purple-50/70 dark:bg-purple-900/70";
} else if (currentPath === "games") {
  headerClass = "bg-green-50/70 dark:bg-green-900/70";
}
---

<header
  class={`fixed top-4 left-1/2 transform -translate-x-1/2 z-50 py-4 px-6 backdrop-blur-md ${headerClass}  rounded-full shadow-lg transition-colors duration-300 max-w-3xl w-auto`}
>
  <div class="flex items-center justify-between">
    <h2 class="mr-8 text-xl font-bold text-gray-800 dark:text-white">
      <a
        href="/"
        class="hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors duration-300"
        >Home</a
      >
    </h2>

    <nav class="flex items-center space-x-6 ml-8">
      <HeaderLink
        href="/blog"
        class="text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors duration-300"
        >Blog</HeaderLink
      >
      <HeaderLink
        href="/experiments"
        class="text-gray-700 dark:text-gray-300 hover:text-purple-600 dark:hover:text-purple-400 transition-colors duration-300"
        >Experiments</HeaderLink
      >
      <HeaderLink
        href="/games"
        class="text-gray-700 dark:text-gray-300 hover:text-green-600 dark:hover:text-green-400 transition-colors duration-300"
        >Games</HeaderLink
      >
      <ThemeIcon />
    </nav>
  </div>
</header>
<!-- Adjust padding for the island header -->
<div class="pt-24"></div>
