---
export interface Props {
  title: string;
  timeframe: string;
  description?: string;
  technologies?: string[];
}

const { title, timeframe, description, technologies = [] } = Astro.props;
---

<div class="work-item-component">
  <div class="flex justify-between items-center">
    <span class="font-semibold">{title}</span>
    <span class="text-gray-600 text-xs">{timeframe}</span>
  </div>
  {
    description && (
      <p class="text-gray-600 text-sm mt-1 max-w-2xl">{description}</p>
    )
  }

  {
    technologies.length > 0 && (
      <div class="tech-tags mt-2">
        {technologies.map((tech) => (
          <span class="inline-block bg-gray-100 text-gray-800 text-xs px-2 py-1 rounded mr-1 mb-1">
            {tech}
          </span>
        ))}
      </div>
    )
  }
</div>

<style>
  .work-item-component {
    border-radius: 0.375rem;
    border: 1px solid transparent;
  }
</style>
